<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to HyperDev!</title>
    <meta name="description" content="A cool thing made with HyperDev">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link id="favicon" rel="icon" href="https://cdn2.iconfinder.com/data/icons/black-animal-svg-icons/512/pig_piggy_bank_money_finance-128.png" type="image/x-icon">
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/public/css/login.css">
  </head>
  <body>
    <div id="header">
      <h1 onclick="location.href='/'" style="cursor: pointer">Anonymous Messageboard</h1>
    </div>
    <div id="body">
      <form>
        <input type="text" placeholder="username">
        <input type="text" placeholder="password">
        <input type="submit">
      </form>
      <button>Create Account</button>
    </div>
  </body>
</html>
