<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to HyperDev!</title>
    <meta name="description" content="A cool thing made with HyperDev">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link id="favicon" rel="icon" href="https://cdn2.iconfinder.com/data/icons/black-animal-svg-icons/512/pig_piggy_bank_money_finance-128.png" type="image/x-icon">
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/public/css/thread.css">
  </head>
  <body>
    <div id="header">
      <h1 onclick="location.href='/'" style="cursor: pointer">Anonymous Messageboard</h1>
    </div>
    <div id="thread"></div>
    <div id="replies">
      <h2>Replies</h2>
      <div id="replyNode">
      </div>
      <form id="replyForm">
        <label>Reply</label>
        <input type="text" placeholder="Your insightful reply" name="text" required=""><br>
        <label>Delete Key</label>
        <input type="text" placeholder="Key to delete comment" name="delete" required="">
        <input type="submit" class="button" value="Submit">
      </form>
    </div>
    <form id="deleteForm">
      <label>Delete this thread</label>
      <input type="text" placeholder="delete key" name="text" required="">
      <input type="submit" class="button" value="submit">
    </form>
  <script src="/public/js/thread.js"></script>
  </body>
</html>
