#header h2{
  color: #ccc;
  }
  #header h2:hover{
    cursor: pointer;
    color: #fff;
  }
  
  #thread p{
  text-align: left;
  }
  
  #thread span{
    color: #640016;
    text-align: center;
    font-weight: bold;
    font-size: .8em;
    line-height: 2em;
  }
  
  #replies, #thread{
    background-color: #ddd;
    color: #222;
    width: 80%;
    padding: 20px;
    margin: 10px auto;
  }
  .replyDiv{
    border-bottom: 1px solid white;
    display: flex;
    justify-content: space-between;
  }
  
  #replyNode span{
    font-size: .8em;
    cursor: pointer;
  }
  
  #replyForm{
    padding-top: 10px;
    border-top: 3px solid #454851;
  }
  